# Librairies et répertoires

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
chemin_principal = 'D:\\OneDrive\\Data Science\\Data\\CO2\\'
chemin_code = chemin_principal + 'Code\\'

# Lecture fichier Climatewatchdata

In [3]:
df_climatewatchdata = pd.read_csv(
    (chemin_principal + 'historical_emissions_climatewatchdata.csv'),
    index_col='Country'
    )

df_climatewatchdata.head()

,Data source,Sector,Gas,Unit,2018,2017,2016,2015,2014,2013,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
Country,,,,,,,,,,,,,,,,,,,,,
World,CAIT,Total including LUCF,All GHG,MtCO₂e,48939.71,47990.47,47413.95,46760.47,46647.29,46047.13,...,34948.94,34929.19,35387.89,34068.91,33703.46,32977.47,32766.49,32670.32,32813.46,32645.91
China,CAIT,Total including LUCF,All GHG,MtCO₂e,11705.81,11408.26,11207.66,11149.68,11155.76,11144.76,...,4053.37,4103.23,3963.61,3954.75,3918.30,3528.81,3377.79,3154.54,3023.38,2873.71
United States,CAIT,Total including LUCF,All GHG,MtCO₂e,5794.35,5613.64,5676.92,5586.69,5711.15,5690.79,...,6291.25,6293.80,6258.47,6010.62,5843.90,5782.20,5691.26,5583.80,5501.92,5543.47
India,CAIT,Total including LUCF,All GHG,MtCO₂e,3346.63,3202.82,3073.24,3002.17,2988.34,2816.49,...,1460.24,1382.26,1348.09,1289.63,1240.44,1174.78,1128.44,1096.71,1064.49,1009.44
European Union (27),CAIT,Total including LUCF,All GHG,MtCO₂e,3333.16,3401.95,3387.97,3046.38,2990.49,3136.34,...,3934.85,4008.29,4048.58,4126.40,4018.79,3968.32,3984.95,4058.11,4202.13,4279.18

# Exploration de données
## Value_counts des data source

In [4]:
df_climatewatchdata['Data source'].value_counts()

CAIT    195
Name: Data source, dtype: int64

## Value_counts des secteurs

In [5]:
df_climatewatchdata['Sector'].value_counts()

Total including LUCF    195
Name: Sector, dtype: int64

## Value_counts des Gas

In [6]:
df_climatewatchdata['Gas'].value_counts()

All GHG    195
Name: Gas, dtype: int64

## Value_counts des Unit

In [7]:
df_climatewatchdata['Unit'].value_counts()

MtCO₂e    195
Name: Unit, dtype: int64

**Les variables Data source, Sector, Gas et Unit ont toutes une valeur unique.**

## Nombre de pays représentés

In [8]:
nb_pays = len(df_climatewatchdata.index.unique())
print('Nombre de pays représentés :', nb_pays)

Nombre de pays représentés : 195